
DialogFragment/.idea/workspace.xml

DialogFragment/app/build/intermediates/bundle_manifest/debug/bundle-manifest/output.json

DialogFragment/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-am/values-am.xml
